body, .theme--light.v-application {
    background: #F2F2F2;
}

[v-cloak] {
    display: none !important;
}

h1 {
    font: normal normal 800 35px/45px Raleway;
    color: #3E3E3E;
    max-width: 410px;

    .underline {
        background: linear-gradient(to top, #F5D04C 40%, transparent 40%);
        padding-right: 10px;
    }
}

.p-0 {
    padding: 0 !important;
}

p {
    font-size: 26px;
}

.v-btn:not(.v-btn--round).v-size--default {
    padding: 15px 30px;
    height: 50px;
}

.p-relative {
    position: relative;
}
