$screen-sm: 600px;
$screen-md: 960px;
$screen-lg: 1264px;
$screen-xl: 1904px;

$background: #161A28;

$primary: #6C5DD3;
$upgrade: linear-gradient(90deg, #FFDC7B 0%, #F8CC55 100%);

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
