<footer class="pb-5 pb-md-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 order-3 order-lg-1">
                <a href="#">Cookie Policy</a>
                <a href="#">Politică de confidențialitate</a>
                <div class="mt-3">© FomCo Solar. Toate drepturile rezervate</div>
                <a href="#">Termeni și condiții</a>

                <div class="social-icons mt-3">
                    <div class="btn btn-link btn-whatsapp">
                    </div>
                    <div class="btn btn-link btn-facebook">
                    </div>
                    <div class="btn btn-link btn-instagram">
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0 order-1 order-lg-2">
                <h3 class="text-uppercase">Contact</h3>
                <h3>FomCo Solar</h3>

                <div>str. Principală, Nr. 801/E</div>
                <div>547185 Cristeşti, jud. Mureş, ROMANIA</div>
                <div>
                    tel.: <a href="tel:+40724364432" class="d-inline">+40 724-364.432</a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-0 order-2 order-lg-3">
                <h3>Link-uri utile</h3>

                <a href="#">Configurator</a>
                <a href="#">FAQ</a>
                <a href="#">Parteneri</a>
                <a href="#">Blog</a>
                <a href="#">Contact</a>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-0 order-4">
                <h3>Diverse</h3>

                <a href="https://anpc.ro/ce-este-sal/" target="_blank">
                    <img alt="ANPC" src="/siteimg/anpc-sal.png" class="img img-fluid" width="150">
                </a>

                <a href="https://ec.europa.eu/consumers/odr" class="mt-3" target="_blank">
                    <img alt="odr" src="/siteimg/anpc-sol.png" class="img img-fluid" width="150">
                </a>

                <img alt="odr" src="/siteimg/iso9001.png" class="igm img-fluid mt-3" width="150">
            </div>
        </div>
    </div>
</footer>
