<header>
    <div class="top-nav collapse d-xl-block" id="navMobile">
        <div class="container d-flex justify-content-center justify-content-xl-end">
            <a href="#">
                Programe de finanțare
            </a>
            <a href="#">
                Credite Bancare
            </a>
            <a href="#">
                FAQ
            </a>
            <a href="#">
                Parteneri
            </a>
            <a href="#">
                Blog
            </a>
        </div>
    </div>

    <div class="container-fluid container-xxl header-menu">
        <div class="d-none d-xl-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="img img-fluid" src="siteimg/icons/logo.svg" alt="Fomco Solar">
            </a>

            <div class="text-end">
                <a href="#">Despre Noi</a>
                <a href="#">Portfoliu</a>
                <a href="#">Business</a>
                <a href="#">Rezidențial</a>
                <button class="btn btn-yellow">
                    SHOP
                </button>
                <button class="btn btn-black p-relative">
                    Contactează-ne
                </button>
                <button class="btn btn-link">
                    <img src="siteimg/icons/account.svg" alt="Contul Meu">
                </button>

                <button class="btn btn-link d-btn p-relative" data-bs-toggle="dropdown" aria-expanded="false" id="cartMenu">
                    <img src="siteimg/icons/cart.svg" alt="Cos">
                    <span class="cart-content-count">1</span>
                </button>

                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cartMenu">
                    <div class="row total-header-section mb-2">
                        <div class="col-12 total-section">
                            <p class="mb-0">COŞ: 3 Produse</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row cart-detail">
                        <div class="col-4 cart-detail-img">
                            <img src="https://fomcosolar.s3.eu-central-1.amazonaws.com/20220628_ON_GRID_002_3bb0ca0c0d.png" class="img img-fluid">
                        </div>
                        <div class="col-8 cart-detail-product">
                            <p><span class="count">1 x</span> Kit ON-GRID 5.67 KW Trifazat</p>
                            <span class="price"> 32.750,00 RON</span>
                        </div>
                    </div>
                    <div class="row cart-detail">
                        <div class="col-4 cart-detail-img">
                            <img src="https://fomcosolar.s3.eu-central-1.amazonaws.com/thumbnail_20211123053214062fa953_2fa4_4074_a933_e9a74c6bbbe0_8c54d48edb.jpg" class="img img-fluid">
                        </div>
                        <div class="col-8 cart-detail-product">
                            <p><span class="count">1 x</span> Panou fotovoltaic monocristalin half cell Q.PEAK DUO BLK ML-G10 405 w</p>
                            <span class="price"> 32.750,00 RON</span>
                        </div>
                    </div>
                    <div class="row cart-detail">
                        <div class="col-4 cart-detail-img">
                            <img src="https://fomcosolar.s3.eu-central-1.amazonaws.com/20220628_ON_GRID_002_3bb0ca0c0d.png" class="img img-fluid">
                        </div>
                        <div class="col-8 cart-detail-product">
                            <p><span class="count">1 x</span> Kit ON-GRID 5.67 KW Trifazat</p>
                            <span class="price"> 32.750,00 RON</span>
                        </div>
                    </div>

                    <hr>

                    <div class="row total-header-section my-4">
                        <div class="col-12 total-section">
                            <p class="mb-0">Total: <span class="float-end">39.750 RON</span></p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn btn-green w-100">COŞ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="d-flex d-xl-none navbar mt-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMobile" aria-controls="navMobile" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="nav-logo">
                    <a href="/" class="mx-0">
                        <img class="img img-fluid" src="/siteimg/icons/logo.svg" alt="Fomco Solar">
                    </a>
                </div>
                <div class="nav-icons">
                    <a class="btn btn-link mx-0 px-0">
                        <img src="/siteimg/icons/account.svg" alt="Contul Meu">
                    </a>
                    <a class="btn btn-link p-relative mx-0">
                        <img src="/siteimg/icons/cart.svg" alt="Cos">
                        <span class="cart-content-count">1</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse text-uppercase text-center mt-3" id="navMobile">
                    <a class="" aria-current="page" href="#">
                        Despre Noi
                    </a>
                    <a class="" href="#">
                        Portfoliu
                    </a>
                    <a class="" href="#">
                        Servicii
                    </a>
                    <a class="" href="#">
                        Programe de finanțare
                    </a>
                    <a class="btn btn-yellow" href="#">
                        Shop
                    </a>
                    <a class="btn btn-black" href="#">
                        Contactează-ne
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>
